:root {
  --colors-primary: #F6EDE1;
  --colors-secondary: #37B8B9;
  --colors-accent: #FBD67E;
}
body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
