@import "../styles/index.css";

.paginate-view {
    z-index: 5;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-item:hover {
    text-decoration: underline;
    color: var(--colors-secondary)
}

.pagination a {
    margin: 0 5px;
    padding: 8px;
    color: var(--colors-secondary)
}

.list-link {
    text-decoration: none;
    color: #282c34;
}

.list-link:hover {
    color: var(--colors-secondary);
    cursor: pointer;
}